body{
	
	
	
}
img {
    opacity: 1;
    position: absolute;
}
#understand {
    width: 114px;
    height: 33px;
    position: absolute;
    top: 211px;
    left: 319px;
    opacity: 0;
}
#ignore {
    width: 121px;
    height: 33px;
    position: absolute;
    top: 211px;
    left: 438px;
    opacity: 0;
}
